/* Reset styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  background-color: rgb(117, 103, 95);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
.header {
  color: #FFF;
  height: 173px;
  padding-top: 19px;
  padding: 22px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  display: flex;
  flex-direction: column;
  gap: 112px;
  align-items: center;
}

.header__button-list {
  display: flex;
  gap: 4px;
}

.header__button {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  padding: 11px 15px;
}

.sign-up {
  border: 2px solid #FFF;
  border-radius: 20px;
  padding: 11px 15px;
}

.header__logo {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 36px;
  }
  .header .container {
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    color: #FFF;
    height: 173px;
    padding-top: 19px;
    padding: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    gap: 112px;
    align-items: center;
  }
  .header__button-list {
    display: flex;
    gap: 4px;
  }
  .header__button {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    padding: 11px 15px;
  }
  .sign-up {
    border: 2px solid #FFF;
    border-radius: 20px;
    padding: 11px 15px;
  }
  .header__logo {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.hero {
  background-image: url("../../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 214px;
  padding-bottom: 136px;
  color: #FFF;
  text-align: center;
}

.hero__title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30.041px;
  width: 306.026px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.hero__text {
  text-align: center;
  font-family: Roboto;
  font-size: 18.025px;
  font-weight: 300;
  margin-bottom: 12px;
  margin: 0 auto;
  margin-bottom: 17px;
  font-size: 18.025px;
  width: 230;
}

.hero__button {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14x;
  font-weight: 700;
  width: 282px;
  height: 43px;
  margin: 0 auto;
  background-color: #FF4E50;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 233px;
  }
  .hero__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 52.041px;
    width: 306.026px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .hero__text {
    text-align: center;
    font-family: Roboto;
    font-size: 18.025px;
    font-weight: 300;
    margin-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 17px;
    font-size: 18.025px;
    width: 230;
  }
  .hero__button {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14x;
    font-weight: 700;
    width: 282px;
    height: 43px;
    margin: 0 auto;
    background-color: #FF4E50;
    border-radius: 20px;
  }
}/*# sourceMappingURL=main.css.map */