body{
    /* font-family: "Roboto", sans-serif; */
    font-family: "Montserrat", sans-serif;
    background-color: rgb(117, 103, 95);
}


.container {
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
 outline: 1px solid red;
}

@media  screen and (min-width:320px) {
    .container {
        width: 320px;
    }
}
@media  screen and (min-width:768px) {
    .container {
        width: 768px;
    }
}